//LOAD BS VARIABLES HERE SO THEY ARE AVAILABLE FOR YOUR OWN USE!!!!!!!!!!!!!!!!!!!!
@import "../bootstrap/variables here";



//NOTE: These variables are referenced by Bootstrap. So any variables defined here will overwrite the BS ones!!!!!!!!!!!!


$color-brand-prim       : #067c89;
$color-brand-prim-lt    : lighten($color-brand-prim, 10%);
$color-brand-prim-dk    : darken($color-brand-prim, 10%);


// Heading sizes

$font-size-h1     : 50;            
$font-size-h2     : 36;            
$font-size-h3     : 26;            
$font-size-h4     : 21;            
$font-size-h5     : 18;            
$font-size-h6     : 16; 

$font-weight-h1     : 300;            
$font-weight-h2     : 300;            
$font-weight-h3     : 300;            
$font-weight-h4     : 700;            
$font-weight-h5     : 700;            
$font-weight-h6     : 700;            




// Define margin values for margin helper mixin

$margin-xs        : 1%;
$margin-sm        : 3.5%;
$margin-md        : 8%;
$margin-lg        : 15%;


// Set up panel columns
// 
$number-of-columns-xs      : 1; //number of columns you want per row on mobile
$number-of-columns-sm      : 2; //number of columns you want per row on mobile
$number-of-columns-md      : 3; //number of columns you want per row on tablet
$number-of-columns-lg      : 3; //number of columns you want per row on desk top

$row-count                 : 8; //number of possible rows. Allow for possible growth, but not the more rows you have, 
                                // the more CSS is produced, so don't go crazy!!!!!
                                
$column-gutter             : 2; //used as a percentage
$product-panel-height      : auto;
$product-panel-min-height  : 250px;



// #######################################################
// #######################################################
// #######################################################

// BOOTSTRAP OVER WRITES
// 
// 
// 


// Base border radius

$border-radius    : 3px;




//** `<input>` background color
$input-bg:                       #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter;

//** Text color for `<input>`s
$input-color:                    $color-brand-prim;
//** `<input>` border color
$input-border:                   $color-brand-prim-lt;
//** `<input>` border radius
$input-border-radius:            $border-radius;
//** Border color for inputs on focus
$input-border-focus:             $color-brand-prim-dk;



