div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-md-8
      
      h1.heading1 Colour Palette
      
      .row
        .colour-palette.colour-palette--prim
          span Primary
        .colour-palette.colour-palette--prim-lt
          span Primary light
        .colour-palette.colour-palette--prim-dk
          span Primary dark

      .row
        .colour-palette.colour-palette--sec
          span Secondary
        .colour-palette.colour-palette--ter
          span Teritary
        .colour-palette.colour-palette--gray
          span Neutral
      
      .row
        h4.heading4 Neutral Shades
        .colour-palette-sml.colour-neutral-dkst
        .colour-palette-sml.colour-neutral-dkr
        .colour-palette-sml.colour-neutral-dk
        .colour-palette-sml.colour-neutral
        .colour-palette-sml.colour-neutral-lt
        .colour-palette-sml.colour-neutral-lter
        .colour-palette-sml.colour-neutral-ltst

      .row
        h4.heading4 Bootstrap naming
        .colour-palette.colour-palette--success
          span Success
        .colour-palette.colour-palette--info
          span Info
        .colour-palette.colour-palette--warning
          span Warning


      h1.heading1 Margin helpers
      
      .margin-demo
        .margin-box.margin-vertical-xs.margin-horizontal-xs XS margins


      .margin-demo
        .margin-box.margin-vertical-sm.margin-horizontal-sm SM margins

      .margin-demo
        .margin-box.margin-vertical-md.margin-horizontal-md MD margins


      .margin-demo
        .margin-box.margin-vertical-lg.margin-horizontal-lg LG margins


      h1.heading1 Headings

      h1.heading1 Heading 1
      h2.heading2 Heading 2
      h3.heading3 Heading 3
      h4.heading4 Heading 4
      h5.heading5 Heading 5
      h6.heading6 Heading 6

      hr

      h1.heading1 Headings with Text

      h1.heading1 Heading 1

      p Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
      h2.heading2 Heading 2

      p Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
      h3.heading3 Heading 3

      p Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
      h4.heading4 Heading 4

      p Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
      h5.heading5 Heading 5

      p Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
      h6.heading6 Heading 6

      p Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl./p 

      hr

      h2.heading2 Articles
  
      article
        h1.heading1 Heading 1
        p Article content here, dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.

      p 
        img(alt="Placeholder Image and Some Alt Text" src="http://placehold.it/350x150" title="A title element for this placeholder image.")

      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.

      h2.heading2 Blockquote

      p This is a standard paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      blockquote
        "<strong>This is a blockquote.</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl."
      
      p This is a standard paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

      h2.heading2 Figure-Caption



      figure
        img(src="http://placehold.it/350x150" alt="A placeholder figure image.")
        figcaption The figcaption element example

      h2.heading2 Details-Summary

      details
        summary The summary element example
        p The details example text. It may be styled differently based on what browser or operating system you are using.

      hr

      h1.heading1 Text Elements

      p The <a href="#">a element</a> and <a href="http://example.com" target="_blank">external a element</a> examples
      p The <abbr>abbr element</abbr> and an <abbr title="Abbreviation">abbr</abbr> element with title examples
      p The <acronym title="A Cowboy Ran One New York Marathon">ACRONYM</acronym> element example
      p The <b>b element</b> example
      p The <cite>cite element</cite> example
      p The <code>code element</code> example
      p The <data value="3967381398">data element</data> example
      p The <del>del element</del> example
      p The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples
      p The <em>em element</em> example
      p The <i>i element</i> example
      p The <ins>ins element</ins> example
      p The <kbd>kbd element</kbd> example
      p The <mark>mark element</mark> example
      p The <q>q element</q> example
      p The <q>q element <q>inside</q> a q element</q> example
      p The <s>s element</s> example
      p The <samp>samp element</samp> example
      p The <small>small element</small> example
      p The <span>span element</span> example
      p The <strong>strong element</strong> example
      p The <sub>sub element</sub> example
      p The <sup>sup element</sup> example
      p The <time datetime="2005-05-15 19:00">time element</time> example
      p The <u>u element</u> example
      p The <var>var element</var> example

      hr

      h1.heading1 Monospace / Preformatted

      p Monospace Text wrapped in "pre" tags
      pre p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.

      hr

      h1.heading1 List Types

      h2.heading2 Ordered List
      ol
        li List Item 1
        li List Item 2
        li List Item 3
          ol
            li List Item 3.1
            li List Item 3.2
              ol
                li List Item 3.2.1
                li List Item 3.2.2
            
            li List Item 3.3
        
        li List Item 4

      h2.heading2 Unordered List
      ul
        li List Item 1
        li List Item 2
        li List Item 3
          ul
            li List Item 3.1
            li List Item 3.2
              ul
                li List Item 3.2.1
                li List Item 3.2.2
            
            li List Item 3.3
        
        li List Item 4

      h2.heading2 Definition List
      dl
        dt Definition Term 1
        dd Definition Description 1
        dt Definition Term 2
        dd Definition Description 2

      hr

      h2.heading2 Responsive Definition List
      dl.responsive-dl
        dt Definition Term 1
        dd Definition Description 1
        dt Definition Term 2
        dd Definition Description 2

      hr

      h1.heading1 Tables

      table.table.table--standard(cellspacing="0" cellpadding="0")
        caption This is a table caption
        thead
          tr
            th Table Header 1
            th Table Header 2
            th Table Header 3
          
        tbody
          tr
            td Division 1
            td Division 2
            td Division 3

          
          tr(class="even")
            td Division 1
            td Division 2
            td Division 3

          
          tr
            td Division 1
            td Division 2
            td Division 3

          
          tr
            td(colspan="3") A row with a cell spanning all 3 columns
          
        tfoot
          tr
            th Table Footer 1
            th Table Footer 2
            th Table Footer 3

          

      hr

      h1.heading1 Media and Form Elements

      p This last section contains elements that don't render well in markdown. Please consult the final section in <a href="https://github.com/bryanbraun/poor-mans-styleguide/blob/gh-pages/index.html">index.html</a>, to see the rest of the styleguide.


      h2.heading2 Media

      h3.heading3 The Audio Element:
      audio(controls)
        source(src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg")
        source(src="http://www.w3schools.com/tags/horse.mp3" type="audio/mpeg")
        Your browser does not support the audio element.

      h3.heading3 The Video Element:
      video(width="320" height="240" controls)
        source(src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4")
        source(src="http://www.w3schools.com/tags/movie.ogg" type="video/ogg")
        Your browser does not support the video tag.



      h2.heading2 Form Elements

      p The Fieldset:

      fieldset
        legend Legend

        p The Form:


        form
          .form-group 
            label.form-control(for="text_field") Text Field:

            input.form-control(type="text" id="text_field") 
          


          .form-group 
            label.form-control(for="text_field_disabled") Disabled Text Field:

            input.form-control(type="text" id="text_field_disabled" disabled value="I'm disabled") 
          


          .form-group 
            label.form-control(for="text_field_readonly") Readonly Text Field:

            input.form-control(type="text" id="text_field_readonly" readonly value="I'm readonly") 
          


          .form-group 
            label.form-control(for="text_area") Text Area:

            textarea.form-control(id="text_area")
          


          .form-group 
            label.form-control(for="text_area_disabled") Disabled Text Area:

            textarea.form-control(id="text_area_disabled" disabled) I'm disabled
          


          .form-group  
            label.form-control(for="text_area") Readonly Text Area:

            textarea.form-control(id="text_area" readonly) I'm readonly
          


          .form-group 
            label.form-control(for="select_element") Select Element:

            select.form-control(id="select_element")
              optgroup(label="Option Group 1")
                option(value="1") Option 1
                option(value="2") Option 2
              optgroup(label="Option Group 2")
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3" disabled) Disabled Option
          


          .form-group 
            label(for="select_element_disabled") Disabled Select Element:
            select.form-control(id="select_element_disabled" disabled)
              option(value="1") Unselectable Option
              option(value="2") This option should not even be seen
          


          h4.heading4 Radio Buttons:
            
          .radio
            label Radio 1
              input.radio(type="radio" name="radio_button" value="radio_1")
        
        
          .radio
            label Radio 2
              input.radio(type="radio" name="radio_button" value="radio_2")
        
        
          .radio
            label Radio 3
              input.radio(type="radio" name="radio_button" value="radio_3")
        
        
          .radio
            label Radio Disabled
              input.radio(type="radio" name="radio_button" value="radio_4" disabled)
            
          


          h4.heading4 Checkboxes
          
          .checkbox 
            label Checkbox 1
              input.checkbox(type="checkbox" name="checkboxes" value="check_1")
          
          .checkbox 
            label Checkbox 2
              input.checkbox(type="checkbox" name="checkboxes" value="check_2")
          
          .checkbox 
            label Checkbox 3
              input.checkbox(type="checkbox" name="checkboxes" value="check_3")
          
          .checkbox 
            label Checkbox Disabled
              input.checkbox(type="checkbox" name="checkboxes" value="check_4" disabled)
          
          h4.heading4 Checkboxes inline
          
          .checkbox-inline 
            label Checkbox 1
              input.checkbox(type="checkbox" name="checkboxes" value="check_1")
          
          .checkbox-inline 
            label Checkbox 2
              input.checkbox(type="checkbox" name="checkboxes" value="check_2")
          
          .checkbox-inline 
            label Checkbox 3
              input.checkbox(type="checkbox" name="checkboxes" value="check_3")
          
          .checkbox-inline 
            label Checkbox Disabled
              input.checkbox(type="checkbox" name="checkboxes" value="check_4" disabled)

          .form-group 
            label.form-control(for="password") Password:

            input.form-control(type="password" id="password") 
          


          .form-group 
            label.form-control(for="file") File Input:

            input.form-control(type="file" class="file" id="file") 
          


          h3.heading3 HTML5-specific Form Elements

          .form-group 
            label.form-control(for="email") Email:

            input.form-control(type="email" id="email") 
          


          .form-group 
            label.form-control(for="url") URL:

            input.form-control(type="url" id="url") 
          


          .form-group 
            label.form-control(for="tel") Telephone:

            input.form-control(type="tel" id="tel") 
          


          .form-group 
            label.form-control(for="number") Number:

            input.form-control(type="number" id="number" min="0" max="10" step="1" value="5") 
          


          .form-group 
            label.form-control(for="search") Search:

            input.form-control(type="search" id="search") 
          


          .form-group 
            label.form-control(for="date") Date:

            input.form-control(type="date" id="date") 
          


          .form-group 
            label.form-control(for="time") Time:

            input.form-control(type="time" id="time") 
          


          .form-group 
            label.form-control(for="color") Color:

            input.form-control(type="color" id="color") 
          


          .form-group 
            label.form-control(for="datalist") Datalist:

            input.form-control(list="browsers" name="browser" type="datalist" id="datalist") 
            datalist(id="browsers")
              option(value="Internet Explorer") 
              option(value="Firefox") 
              option(value="Chrome") 
              option(value="Opera") 
              option(value="Safari") 
          


          .form-group 
            label.form-control(for="range") Range:

            input(type="range" id="range" name="points" min="1" max="10") 
          


          .form-group 
            label.form-control(for="output") Output:

            output.form-control(name="result" id="output") 42
          


          .form-group 
            label.form-control(for="progress") Progress:

            progress(id="progress" value="65" max="100")
          


          .form-group 
            label.form-control(for="meter") Meter:

            meter(id="meter" min="200" max="500" value="350") 350 degrees
          


          h3.heading3 Button Element
          input.btn.btn-default(type="reset" value="Default") 
          input.btn.btn-primary(type="reset" value="Primary") 
          input.btn.btn-success(type="reset" value="Success") 
          input.btn.btn-info(type="reset" value="Info") 
          input.btn.btn-danger(type="submit" value="Submit") 

          .margin-vertical-lg
        


